@charset "UTF-8";
*::input-placeholder {
  opacity: 1;
  color: #666; }

*:-moz-placeholder {
  opacity: 1;
  color: #666; }

*::-moz-placeholder {
  opacity: 1;
  color: #666; }

*:-ms-input-placeholder {
  opacity: 1;
  color: #666; }

@-webkit-keyframes next-arr {
  100% {
    background-position: 0 -70px; }
  0% {
    background-position: -60px -70px; }
  50% {
    background-position: 0px -70px; } }

@-moz-keyframes next-arr {
  100% {
    background-position: 0 -70px; }
  0% {
    background-position: -60px -70px; }
  50% {
    background-position: 0px -70px; } }

@-o-keyframes next-arr {
  100% {
    background-position: 0 -70px; }
  0% {
    background-position: -60px -70px; }
  50% {
    background-position: 0px -70px; } }

@keyframes next-arr {
  100% {
    background-position: 0 -70px; }
  0% {
    background-position: -60px -70px; }
  50% {
    background-position: 0px -70px; } }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.m0 {
  margin: 0; }

.mt1 {
  margin-top: 16px; }

.mt2 {
  margin-top: 32px; }

.mt3 {
  margin-top: 48px; }

.mt4 {
  margin-top: 64px; }

.mt5 {
  margin-top: 80px; }

.mt6 {
  margin-top: 96px; }

.mt7 {
  margin-top: 112px; }

.mb1 {
  margin-bottom: 16px; }

.mb2 {
  margin-bottom: 32px; }

.mb3 {
  margin-bottom: 48px; }

.mb4 {
  margin-bottom: 64px; }

.mb5 {
  margin-bottom: 80px; }

.mb6 {
  margin-bottom: 96px; }

.mb7 {
  margin-bottom: 112px; }

.p0 {
  padding: 0 !important; }

.pt1 {
  padding-top: 16px; }

.pt2 {
  padding-top: 32px; }

.pt3 {
  padding-top: 48px; }

.pt4 {
  padding-top: 64px; }

.pt5 {
  padding-top: 80px; }

.pt6 {
  padding-top: 96px; }

.pt7 {
  padding-top: 112px; }

.pb1 {
  padding-bottom: 16px; }

.pb2 {
  padding-bottom: 32px; }

.pb3 {
  padding-bottom: 48px; }

.pb4 {
  padding-bottom: 64px; }

.pb5 {
  padding-bottom: 80px; }

.pb6 {
  padding-bottom: 96px; }

.pb7 {
  padding-bottom: 112px; }

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 #fff; }
  .loader .loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background-color: #fff;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: cover;
       background-size: cover; }

body {
  font-family: OpenSansRegular;
  font-size: 14px;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #fff; }

a {
  display: inline-block;
  color: #838383;
  text-decoration: none; }

a:visited {
  color: #343434; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.left {
  float: left; }

.right {
  float: right; }

.white {
  background-color: #fff; }

.center-text {
  text-align: center; }

.padding-10 {
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
  padding: 10px 10px !important; }

.shadow-1 {
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2); }

.shadow-2 {
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3); }

.hidden {
  display: none !important; }

.container {
  position: relative;
  padding: 0 15px;
  max-width: 950px;
  margin: 0 auto; }

.col-1 {
  width: 10.33%; }

.col-2 {
  width: 18.66%; }

.col-3 {
  width: 27%; }

.col-4 {
  width: 35.33%; }

.col-5 {
  width: 43.66%; }

.col-6 {
  width: 52%; }

.col-7 {
  width: 60.33%; }

.col-8 {
  width: 68.66%; }

.col-9 {
  width: 77%; }

.col-10 {
  width: 85.33%; }

.col-11 {
  width: 93.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  padding: 1vw; }

.row::after {
  content: "";
  clear: both;
  display: block; }

.ha-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 1;
  font-family: 'Lato', Arial, sans-serif;
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

/*1 сторона 3д блока*/
.ha-header-perspective {
  width: 100%;
  position: relative;
  -webkit-perspective: 2500px;
  -moz-perspective: 2500px;
  perspective: 2500px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0; }

/*1 сторона 3д блока*/
.ha-header-perspective > div {
  background: #fff;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
       backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

/*1 сторона 3д блока*/
.ha-header-front {
  z-index: 2;
  -webkit-transform-origin: 50% 100%;
     -moz-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1); }

/*1 сторона 3д блока*/
.ha-header-perspective .ha-header-bottom {
  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
       -o-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  z-index: 1;
  -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: absolute;
  top: 0; }

/* начальный размер хедера */
/*1 сторона 3д блока*/
/*1 сторона 3д блока*/
.ha-header-rotate .ha-header-front {
  -webkit-transform: translateY(-100%) rotateX(90deg);
     -moz-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg); }

.ha-header-rotate .ha-header-bottom {
  top: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
  -webkit-transform: rotateX(0deg) translateY(-100%);
     -moz-transform: rotateX(0deg) translateY(-100%);
          transform: rotateX(0deg) translateY(-100%);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1); }

.ha-header-rotateBack .ha-header-bottom {
  top: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
  -webkit-transform: rotateX(-90deg);
     -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1); }

.navigation-mobile.opened {
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4); }

.logo {
  padding: 35px 0;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: padding 0.75s;
  -moz-transition: padding 0.75s;
  -o-transition: padding 0.75s;
  transition: padding 0.75s; }
  .logo .logo img {
    max-width: 201px; }

.navigation {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 10px;
  height: 25px; }
  .navigation nav {
    text-align: center; }
    .navigation nav::after {
      clear: both;
      content: "";
      display: table; }
    .navigation nav .header-nav-open {
      display: none;
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
      background-image: url(../img/icon-sprite.png);
      background-position: 17px -32px;
      background-repeat: no-repeat;
      -o-background-clip: content-box;
         background-clip: content-box;
      height: 20px;
      width: 22px;
      padding: 15px;
      cursor: pointer;
      float: left; }
  .navigation .babel {
    float: left; }
    .navigation .babel li {
      float: left; }
      .navigation .babel li a {
        font-size: 13px;
        line-height: 18px;
        position: relative;
        padding: 0 7px 0 0;
        color: #838383; }
      .navigation .babel li .active {
        color: #000; }
        .navigation .babel li .active:after {
          position: absolute;
          bottom: 2px;
          display: block;
          width: 75%;
          height: 1px;
          content: '';
          background: -webkit-gradient(linear, left bottom, left top, from(#b6926f), to(#d7c099));
          background: -webkit-linear-gradient(bottom, #b6926f, #d7c099);
          background: -moz-linear-gradient(bottom, #b6926f, #d7c099);
          background: -o-linear-gradient(bottom, #b6926f, #d7c099);
          background: linear-gradient(to top, #b6926f, #d7c099); }
  .navigation .navigation-mobile {
    z-index: -1;
    display: inline-block !important; }
    .navigation .navigation-mobile .menu {
      display: inline-block;
      margin: 0 auto; }
      .navigation .navigation-mobile .menu::after {
        clear: both;
        content: "";
        display: table; }
      .navigation .navigation-mobile .menu li {
        float: left; }
        .navigation .navigation-mobile .menu li::after {
          clear: both;
          content: "";
          display: table; }
        .navigation .navigation-mobile .menu li:hover .level-2 {
          visibility: visible !important; }
        .navigation .navigation-mobile .menu li a {
          line-height: 18px;
          padding: 0 15px 15px 0;
          font-size: 13px;
          text-transform: uppercase;
          text-align: left;
          color: #838383; }
          .navigation .navigation-mobile .menu li a:hover {
            color: #d7c099; }
      .navigation .navigation-mobile .menu .level-2 {
        position: absolute;
        background-color: #fff;
        visibility: hidden;
        top: 100%; }
        .navigation .navigation-mobile .menu .level-2::after {
          clear: both;
          content: "";
          display: table; }
        .navigation .navigation-mobile .menu .level-2 li {
          float: none;
          width: auto;
          height: 48px; }
          .navigation .navigation-mobile .menu .level-2 li a {
            padding: 10px;
            display: block;
            padding: 15px 20px; }
            .navigation .navigation-mobile .menu .level-2 li a:hover {
              background-color: #d7c099;
              color: #fff; }
          .navigation .navigation-mobile .menu .level-2 li:hover .level-3 {
            visibility: visible !important; }
      .navigation .navigation-mobile .menu .level-3 {
        background-color: #fff;
        position: relative;
        visibility: hidden;
        top: 100%;
        left: 100%;
        top: -48px; }
        .navigation .navigation-mobile .menu .level-3 li {
          width: auto;
          float: none; }
          .navigation .navigation-mobile .menu .level-3 li a:hover {
            background-color: #d7c099;
            color: #fff; }
    .navigation .navigation-mobile .active {
      background-color: #d7c099;
      color: #fff; }
  .navigation .basket-nav {
    float: right; }
    .navigation .basket-nav a {
      font-size: 13px; }
      .navigation .basket-nav a img {
        margin-right: 8px;
        vertical-align: sub; }
    .navigation .basket-nav .basket-mini {
      position: relative; }
    .navigation .basket-nav .arr {
      display: none;
      height: 3px;
      width: 12px;
      background-color: #fff;
      position: absolute;
      top: 34px;
      right: 9px;
      z-index: 1; }
      .navigation .basket-nav .arr:before {
        content: '';
        position: absolute;
        height: 2px;
        top: -3px;
        left: 4px;
        width: 10px;
        background: #eaeaea;
        z-index: 3;
        -webkit-transform: rotate(50deg);
           -moz-transform: rotate(50deg);
            -ms-transform: rotate(50deg);
             -o-transform: rotate(50deg);
                transform: rotate(50deg); }
      .navigation .basket-nav .arr:after {
        content: '';
        position: absolute;
        height: 2px;
        top: -3px;
        left: -3px;
        width: 11px;
        background: #eaeaea;
        z-index: 3;
        -webkit-transform: rotate(-50deg);
           -moz-transform: rotate(-50deg);
            -ms-transform: rotate(-50deg);
             -o-transform: rotate(-50deg);
                transform: rotate(-50deg); }
    .navigation .basket-nav .basket-total {
      position: relative; }
      .navigation .basket-nav .basket-total:before {
        content: "";
        background-image: url(../img/icon-sprite.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
        position: absolute;
        left: -25px;
        top: 3px; }
      .navigation .basket-nav .basket-total .basket-img {
        display: none; }
    .navigation .basket-nav .basket-content {
      position: absolute;
      display: none;
      border: 2px solid #eaeaea;
      border-bottom-width: 1px;
      right: -15%;
      top: 35px; }
      .navigation .basket-nav .basket-content .basket-inner {
        position: relative;
        margin: 18px;
        width: 210px;
        border-bottom: 1px solid #343434;
        padding-bottom: 20px; }
        .navigation .basket-nav .basket-content .basket-inner::after {
          clear: both;
          content: "";
          display: table; }
        .navigation .basket-nav .basket-content .basket-inner .mini-basket-image {
          overflow: hidden;
          float: left;
          max-width: 50px;
          margin-right: 10px; }
          .navigation .basket-nav .basket-content .basket-inner .mini-basket-image img {
            width: 100%; }
      .navigation .basket-nav .basket-content .mini-basket-name {
        width: 60%;
        float: left;
        text-align: left; }
        .navigation .basket-nav .basket-content .mini-basket-name a {
          font-size: 14px; }
      .navigation .basket-nav .basket-content .mini-basket-descr, .navigation .basket-nav .basket-content .mini-basket-pricing {
        width: 85%;
        text-align: left;
        color: #838383; }
        .navigation .basket-nav .basket-content .mini-basket-descr .mini-basket-price, .navigation .basket-nav .basket-content .mini-basket-pricing .mini-basket-price {
          color: #343434;
          font-weight: bold; }
      .navigation .basket-nav .basket-content .close-mini-basket-control {
        right: 0;
        color: #eaeaea;
        position: absolute;
        cursor: pointer;
        padding: 5px; }
        .navigation .basket-nav .basket-content .close-mini-basket-control .mini-basket-cross {
          position: relative;
          z-index: 1;
          display: block;
          width: 12px;
          height: 12px; }
          .navigation .basket-nav .basket-content .close-mini-basket-control .mini-basket-cross:before {
            position: absolute;
            z-index: -1;
            left: 45%;
            width: 10%;
            height: 100%;
            content: '';
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
            background: #eaeaea; }
          .navigation .basket-nav .basket-content .close-mini-basket-control .mini-basket-cross:after {
            position: absolute;
            z-index: -1;
            left: 45%;
            width: 10%;
            height: 100%;
            content: '';
            -webkit-transform: rotate(-45deg);
               -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                 -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            background: #eaeaea; }
    .navigation .basket-nav .mini-basket-totals {
      padding: 18px;
      width: 86%;
      left: -1px;
      background: #fff;
      position: relative;
      border-top: 1px solid #eaeaea; }
      .navigation .basket-nav .mini-basket-totals::after {
        clear: both;
        content: "";
        display: table; }
      .navigation .basket-nav .mini-basket-totals a:first-child {
        font-size: 13px;
        color: #838383;
        float: left;
        text-decoration: underline; }
      .navigation .basket-nav .mini-basket-totals a:last-child {
        font-size: 14px;
        color: #b6926f;
        float: right;
        text-transform: uppercase; }

.content-header {
  background-color: #eee8df;
  overflow: hidden;
  height: 815px; }
  .content-header::after {
    clear: both;
    content: "";
    display: table; }
  .content-header .content-header-inner-left {
    padding-top: 167px;
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    position: relative;
    background-image: url(../img/left-girl.png);
    background-position: center 37px;
    -o-background-size: 386px;
       background-size: 386px;
    background-repeat: no-repeat; }
    .content-header .content-header-inner-left a {
      padding: 20px;
      color: #b6926f;
      font-size: 28px;
      font-weight: bold; }
  .content-header .content-header-inner-right {
    padding-top: 167px;
    width: 50%;
    height: 100%;
    float: right;
    text-align: left;
    position: relative;
    background-image: url(../img/right-girl.png);
    background-position: center 42px;
    -o-background-size: 394px;
       background-size: 394px;
    background-repeat: no-repeat; }
    .content-header .content-header-inner-right a {
      padding: 20px;
      color: #d7c099;
      font-size: 28px; }

.content .form-wrap {
  max-width: 450px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  .content .form-wrap #form-email {
    display: inline-block;
    width: 100%; }
    .content .form-wrap #form-email .enter-email {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      position: relative;
      -webkit-box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1);
              box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1); }
      .content .form-wrap #form-email .enter-email input {
        max-height: 53px;
        width: 100%;
        border: 1px solid #eaeaea !important;
        padding: 4% 37% 4% 7%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        color: #838383;
        font-size: 13px;
        outline: none; }
      .content .form-wrap #form-email .enter-email button {
        width: 30%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        color: #d7c099;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border-left: 1px solid #eaeaea !important;
        padding: 0;
        border: none;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease; }
        .content .form-wrap #form-email .enter-email button:hover {
          color: #fff;
          background: #838383; }

.content .text-title {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: 400; }

.content .content-box {
  background: #fbfbfb; }
  .content .content-box::after {
    clear: both;
    content: "";
    display: table; }
  .content .content-box .content-box-img {
    float: left;
    width: 60%; }
    .content .content-box .content-box-img .image {
      height: 100%;
      width: auto; }
    .content .content-box .content-box-img img {
      width: 100%;
      vertical-align: middle; }
  .content .content-box .content-box-right {
    float: right;
    width: 40%; }
    .content .content-box .content-box-right article {
      text-align: left;
      padding: 3vw 5.1vw; }
      .content .content-box .content-box-right article::after {
        clear: both;
        content: "";
        display: table; }
      .content .content-box .content-box-right article h1 {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-weight: 400;
        color: #343434; }
      .content .content-box .content-box-right article p {
        margin: 0;
        text-align: left;
        overflow: hidden; }
  .content .content-box .next {
    position: relative;
    left: 10%;
    bottom: 0vw; }
    .content .content-box .next .next-icon {
      background-image: url(../img/icon-sprite.png);
      background-repeat: no-repeat;
      background-position: 0 -70px;
      width: 54px;
      height: 20px;
      display: block; }
      .content .content-box .next .next-icon:hover {
        -webkit-animation: next-arr 2s infinite;
        -moz-animation: next-arr 2s infinite;
        -o-animation: next-arr 2s infinite;
           animation: next-arr 2s infinite; }

footer {
  background: #d7c099;
  display: block;
  z-index: 55; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer > .container {
    min-height: 255px;
    padding-top: 26px; }
  footer .footer-nav-category {
    display: inline-block;
    vertical-align: top; }
    footer .footer-nav-category:last-child {
      padding-right: 0; }
    footer .footer-nav-category:first-child {
      padding-left: 0; }
    footer .footer-nav-category h4 a {
      color: #fff;
      font-weight: normal; }
    footer .footer-nav-category ul li a {
      color: #fff;
      font-size: 13px;
      line-height: 26px;
      cursor: pointer;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s; }
      footer .footer-nav-category ul li a:hover {
        color: #838383; }
  footer .footer-contact-us {
    text-align: center; }
    footer .footer-contact-us p {
      color: #fff; }
    footer .footer-contact-us a {
      border: 1px solid #eaeaea;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px 0;
      text-align: center;
      float: right;
      color: #d7c099;
      background: #fff;
      max-width: 170px;
      width: 100%;
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      footer .footer-contact-us a:hover {
        color: #fff;
        border-color: #838383;
        background: #838383; }
  footer .footer-bottom {
    background: #fff;
    padding: 10px 0; }
    footer .footer-bottom::after {
      clear: both;
      content: "";
      display: table; }
    footer .footer-bottom .copyright {
      display: inline-block;
      font-size: 13px;
      color: #838383;
      line-height: 16px;
      padding: 5px 0; }
    footer .footer-bottom .social-icons {
      float: right;
      line-height: 16px; }
      footer .footer-bottom .social-icons::after {
        clear: both;
        content: "";
        display: table; }
      footer .footer-bottom .social-icons h4 {
        float: left;
        margin: 0;
        padding: 5px 5px 5px 0;
        font-size: 13px;
        color: #838383; }
      footer .footer-bottom .social-icons a {
        padding: 3px; }
        footer .footer-bottom .social-icons a i {
          font-size: 21px; }

.page-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 768px) {
  .logo {
    padding: 0 !important; }
    .logo a {
      z-index: 3;
      left: 50%;
      margin-left: -65px;
      width: 130px;
      display: block;
      top: 8px;
      height: 20px;
      position: fixed;
      -o-background-clip: content-box;
         background-clip: content-box;
      text-align: center;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-position: 0 -40px;
      overflow: hidden; }
    .logo img {
      display: none; }
  .navigation {
    /*position: fixed;*/
    width: 100%;
    padding: 0;
    background-color: #fff;
    height: 35px;
    z-index: 2; }
  .babel {
    display: none; }
  .basket-total:before {
    display: none !important; }
  .basket-nav .arr {
    right: 29px !important;
    top: 34px !important;
    height: 0 !important; }
    .basket-nav .arr:before {
      -webkit-transform: rotate(-130deg) !important;
         -moz-transform: rotate(-130deg) !important;
          -ms-transform: rotate(-130deg) !important;
           -o-transform: rotate(-130deg) !important;
              transform: rotate(-130deg) !important;
      border: 0px solid transparent !important;
      border-top: 10px solid white !important;
      height: 2px !important;
      width: 8px !important;
      top: -3px !important;
      left: 3px !important; }
    .basket-nav .arr:after {
      width: 11px !important;
      top: -1px !important;
      left: 0px !important; }
  .basket-content {
    top: 36px !important; }
  .basket-img {
    background-image: url(../img/icon-sprite.png);
    background-position: 0 -25px;
    background-repeat: no-repeat;
    display: inline-block !important;
    position: absolute;
    left: -43px;
    top: -5px;
    height: 20px;
    width: 18px;
    font-size: 9px;
    font-style: initial; }
  .basket-img span {
    vertical-align: baseline-middle;
    color: #b6926f;
    line-height: 21px; }
  .header-nav-open {
    display: inline-block !important;
    background-position: 32px -39px !important;
    padding: 8px 15px 8px 30px !important; }
  .navigation-mobile {
    -webkit-transform: translate(-300%, 0);
       -moz-transform: translate(-300%, 0);
        -ms-transform: translate(-300%, 0);
         -o-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
    -webkit-transition: -webkit-transform 0.55s ease;
    -moz-transition: -moz-transform 0.55s ease;
    transition: -webkit-transform 0.55s ease;
    -o-transition: -o-transform 0.55s ease;
    -moz-transition: transform 0.55s ease, -moz-transform 0.55s ease;
    transition: transform 0.55s ease;
    transition: transform 0.55s ease, -webkit-transform 0.55s ease, -moz-transform 0.55s ease, -o-transform 0.55s ease;
    float: none;
    min-width: 220px;
    max-width: 290px;
    bottom: 20px;
    top: 50px;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: 9999;
    overflow-y: auto !important;
    overflow-x: hidden; }
    .navigation-mobile .menu {
      width: 100%; }
      .navigation-mobile .menu li {
        float: none !important;
        display: block; }
        .navigation-mobile .menu li a {
          position: relative;
          width: 91% !important;
          max-width: 100% !important;
          padding: 20px 0 20px 20px !important;
          margin-left: -1px;
          border-top: 1px solid #d7c099;
          border-width: 1px 0; }
        .navigation-mobile .menu li:first-child a {
          border: none; }
      .navigation-mobile .menu ul.level-2 {
        position: relative !important;
        padding: 0 !important;
        height: auto !important;
        visibility: visible !important; }
        .navigation-mobile .menu ul.level-2 li {
          width: auto !important;
          height: auto !important; }
          .navigation-mobile .menu ul.level-2 li a {
            display: inline-block !important;
            border-top: 1px solid #d7c099; }
      .navigation-mobile .menu ul.level-3 {
        position: relative !important;
        padding: 0 !important;
        left: 0 !important;
        top: auto !important; }
        .navigation-mobile .menu ul.level-3 a {
          display: inline-block;
          border-top: 1px solid #d7c099; }
    .navigation-mobile .collapsible:after {
      content: '>';
      height: 20px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 33%;
      display: block; }
    .navigation-mobile .collapsed {
      height: 20px;
      width: 20px;
      display: block; }
      .navigation-mobile .collapsed:after {
        content: '+';
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0%;
        display: block; }
    .navigation-mobile .expanded {
      height: 20px;
      width: 20px;
      display: block; }
      .navigation-mobile .expanded:after {
        content: '|';
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        top: 2%;
        display: block; }
    .navigation-mobile .item {
      position: absolute;
      right: 0; }
  .basket-nav {
    position: absolute;
    right: 0;
    top: 14px; }
    .basket-nav .my-bag {
      display: none; }
  /*start****************************3d-head***************************/
  .ha-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    font-family: 'Lato', Arial, sans-serif;
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    -moz-transition: all .75s;
    transition: all .75s; }
  /*1 сторона 3д блока*/
  .ha-header-perspective {
    width: 100%;
    position: relative;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 50% 0;
    -moz-perspective-origin: 50% 0;
    perspective-origin: 50% 0; }
  /*1 сторона 3д блока*/
  .ha-header-perspective > div {
    background: #fff;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: justify;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  /*1 сторона 3д блока*/
  .ha-header-front {
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
       -moz-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
         -o-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  /*1 сторона 3д блока*/
  .ha-header-perspective .ha-header-bottom {
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
         -o-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    z-index: 1;
    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -moz-transition: top 0.5s;
    transition: top 0.5s;
    position: absolute;
    top: 0; }
  /* начальный размер хедера */
  /*1 сторона 3д блока*/
  /*1 сторона 3д блока*/
  .ha-header-rotate .ha-header-front {
    -webkit-transform: translateY(-100%) rotateX(90deg);
       -moz-transform: translateY(-100%) rotateX(90deg);
            transform: translateY(-100%) rotateX(90deg); }
  .ha-header-rotate .ha-header-bottom {
    top: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -moz-transition: transform 0.5s, -moz-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
    -webkit-transform: rotateX(0deg) translateY(-100%);
       -moz-transform: rotateX(0deg) translateY(-100%);
            transform: rotateX(0deg) translateY(-100%); }
  .ha-header-rotateBack {
    top: 1%;
    width: 90%;
    left: 5%; }
  .ha-header-rotateBack .ha-header-bottom {
    top: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -moz-transition: transform 0.5s, -moz-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  /*end****************************3d-head***************************/
  .content-header {
    height: 415px !important; }
    .content-header .content-header-inner-left {
      padding-top: 35px;
      background-position: center 46% !important;
      -o-background-size: 250px !important;
         background-size: 250px !important; }
    .content-header .content-header-inner-right {
      padding-top: 35px;
      background-position: center 24% !important;
      -o-background-size: 250px !important;
         background-size: 250px !important; }
  #form-email .enter-email {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
    #form-email .enter-email input {
      -webkit-box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
              box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
      padding: 4% !important;
      text-align: center !important; }
    #form-email .enter-email button {
      width: 100% !important;
      margin-top: 17px !important;
      border: 1px solid #eaeaea !important;
      -webkit-box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
              box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
      padding: 3.336% !important;
      position: relative !important; }
  .content-box {
    margin: 0 !important; }
    .content-box .content-box-img {
      width: 100% !important; }
    .content-box .content-box-right {
      width: 100% !important; }
      .content-box .content-box-right article {
        padding: 7vw 5.1vw !important; }
    .content-box .next {
      left: 41% !important;
      padding: 10px 60px 10% 0; }
  footer .footer-nav-category {
    display: none !important; }
  footer .footer-contact-us {
    text-align: center !important; }
    footer .footer-contact-us a {
      display: inline-block !important;
      float: none !important; } }

@media only screen and (max-width: 480px) {
  .content-header .content-header-inner-left {
    background-position: 110% 46% !important;
    -o-background-size: 250px !important;
       background-size: 250px !important; }
  .content-header .content-header-inner-right {
    background-position: -37% 24% !important;
    -o-background-size: 250px !important;
       background-size: 250px !important; }
  .content-box article {
    padding: 10% !important; }
    .content-box article h1 {
      margin-top: 5% !important;
      margin-bottom: 9% !important; } }
